<%- include('header') -%>

<div class="text-center center-div mt-10" id="login">
    <div class="container w-20 py-6 mt-10">
        <h3 style="color: white;">Welcome to Express Dashboard</h3>
        <h5 style="color: whitesmoke;"><%= locals.user ? user : "User" %></h5>
        <a href="/route/logout">Logout</a>
    </div>
</div>

<%- include('footer') -%>